<?xml version="1.0"?>
<config>
  <modules>
    <Netgo_Favouritelist>
      <version>1.0.1</version>
    </Netgo_Favouritelist>
  </modules>
  <frontend>
    <routers>
      <favouritelist>
        <use>standard</use>
          <args>
            <module>Netgo_Favouritelist</module>
            <frontName>favouritelist</frontName>
          </args>
      </favouritelist>
    </routers>
		<layout>
		  <updates>
			<favouritelist>
			  <file>favouritelist.xml</file>
			</favouritelist>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <favouritelist>
        <class>Netgo_Favouritelist_Helper</class>
      </favouritelist>
    </helpers>
	<blocks>
	  <favouritelist>
		<class>Netgo_Favouritelist_Block</class>
	  </favouritelist>
	</blocks>
	<models>
	  <favouritelist>
		<class>Netgo_Favouritelist_Model</class>
		<resourceModel>favouritelist_mysql4</resourceModel>
	  </favouritelist>
	  <favouritelist_mysql4>
		<class>Netgo_Favouritelist_Model_Mysql4</class>
		<entities>		  
			  <favouritelist>
				<table>favouritelist</table>
			  </favouritelist>
        </entities>
	  </favouritelist_mysql4>
	</models>
	<resources>
	  <favouritelist_setup>
		<setup>
		  <module>Netgo_Favouritelist</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </favouritelist_setup>
	  <favouritelist_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </favouritelist_write>
	  <favouritelist_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </favouritelist_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <favouritelist>
	    <use>admin</use>
		<args>
		  <module>Netgo_Favouritelist</module>
		  <frontName>admin_favouritelist</frontName>
		</args>
	  </favouritelist>
	</routers>
  </admin>
  <adminhtml>
	<!--<menu>
	  <favouritelist module="favouritelist">
		<title>Favouritelist</title>
		<sort_order>100</sort_order>
		<children>
		  <favouritelist module="favouritelist">
		    <title>Manage Favouritelist</title>
			<sort_order>0</sort_order>
			<action>admin_favouritelist/adminhtml_favouritelist</action>
		  </favouritelist>
		</children>
	  </favouritelist>
	</menu>-->
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<favouritelist translate="title" module="favouritelist">
			  <title>Favouritelist</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <favouritelist translate="title">
			<title>Manage Favouritelist</title>
			<sort_order>0</sort_order>
		  </favouritelist>
			  </children>
			</favouritelist>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<favouritelist>
		  <file>favouritelist.xml</file>
		</favouritelist>
	  </updates>
	</layout>
  </adminhtml>
</config> 